.rank-icon {
    height: 32px;
    width: 32px;
    .tiny-leader {
        background-image: url('../../public/img/icons/ranks/tiny-leader.png');
    }
    .tiny-general {
        background-image: url('../../public/img/icons/ranks/tiny-general.png');
    }
    .tiny-officer {
        background-image: url('../../public/img/icons/ranks/tiny-officer.png');
    }
    .mission-knight {
        background-image: url('../../public/img/icons/ranks/mission-knight.png');
    }
    .tiny-trooper {
        background-image: url('../../public/img/icons/ranks/tiny-trooper.png');
    }
    .tiny-specialist {
        background-image: url('../../public/img/icons/ranks/tiny-specialist.png');
    }
    .truly-tiny {
        background-image: url('../../public/img/icons/ranks/truly-tiny.png');
    }
    .tiny-of-tiny {
        background-image: url('../../public/img/icons/ranks/tiny-of-tiny.png');
    }
    .almost-tiny{
        background-image: url('../../public/img/icons/ranks/almost-tiny.png');
    }
    .tiny-sleeper {
        background-image: url('../../public/img/icons/ranks/tiny-sleeper.png');
    }
}